* {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
ul {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {
    text-decoration: none;

}

.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(102, 83, 119);
    color: beige;
}
.first button{
    background-color: transparent;
    color: beige;
    border: 3px white solid;
    border-radius: 10px;
    padding: 30px 80px;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.duo {
    width: 60%;
    padding: 40px;
}

.butt-ons {
    margin-top: 40px;
}

.butt-ons button {
    padding: 20px;
    border-radius: 40px;
    border: 1px black solid;
    margin-left: 40px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: purple;
}

.CA {
    color: whitesmoke;
}

.about-pic {
    margin-left: 30px;
    width: 100%;
}
.about-pic img {
    width: 100;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.third h1 {
margin-bottom: 20px;
}

.fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.fifth {
    display: flex;
}

.sixth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.sixth h6 {
    font-size: 1.3rem;
}

.seventh {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 100px;
}